<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @user.nome %></h1>
    <p>
    <p>
      Você acabou de se matricular na Aquanis Academia!
      Sua matricula ocorreu no dia <%= @user.matricula.to_s(:archive)%>
      <p>Seja bem vindo!</p>
     </p>
    </p>
  </body>
</html>