<head>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Aquanis Academia</div>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h2 class="brand-before">
                        <small>Bem vindo a</small>
                    </h2>
                    <h1 class="brand-name">Aquanis</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong></strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Quem somos</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs">
                    <p>Somos uma academia comprometida com o bem-estar e com a busca da saúde da população. Temos um amplo corpo de professores altamente profissionais e turmas bem elaboradas, para que você pratique esporte da melhor forma!<p>
                    <p>Endereço: Av. Ana Bilhar, 565. Fortaleza - CE</p>
                    <p>Telefone: (85) 3245-3456
                </div>
            </div>
        </div>


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Natação
                        <strong>para todas as idades</strong>
                    </h2>
                    <hr>
                    <%= image_tag "swim4.jpg", class: 'img-responsive img-border img-left' %>
                    <hr class="visible-xs">
                    <p>A natação é um esporte que trabalha todos os grupamentos musculares, ajuda a reduzir a gordura corporal, alivia as tensões do dia-a-dia e ajuda a recuperar lesões. Ao nadar todos os estilos desse esporte (crawl, costas, peito e borboleta) a pessoa estará trabalhando todos os grupamentos musculares. O risco de lesões para quem pratica natação é pequeno porque a água amortece os impactos. E o fato de a água amortecer os impactos torna esse esporte excelente para a recuperação de lesões.<p>
                    <p>Nós temos turmas de natação para todas as idades! Diversas turmas e em diversos horarios são oferecidas para você!</p>
                    <p>Se você já sabe nadar, venha para nossa turma de Natação Aperfeiçoamento, se não, também possuimos a Natação Inicianete. Ambas em diversos horarios.</p>
                    <p> Para seus filhos também temos a Natação Kids!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Hidroginastica
                        <strong>para sua saúde!</strong>
                    </h2>
                    <hr>
                    <%= image_tag "swim2.jpg", class: 'img-responsive img-border img-left' %>
                    <p>A hidroginástica melhora a capacidade aeróbica e cardiorespiratória, a resistência e a força muscular, a flexibilidade e o bem-estar geral. Ela tem a vantagem de poder ser praticada por pessoas de qualquer sexo e de qualquer idade. A hidroginástica é uma opção alternativa para o seu programa normal de exercícios. É uma excelente opção para pessoas que levam uma vida muito agitada e têm pouco tempo para a prática de exercícios. A hidroginástica serve tanto para atletas em treinamento, como para gestantes, pessoas que estão recuperando lesões, ou que estão acima ou abaixo do peso ou aquelas com algum tipo de deficiência.</p>
                    <p>Nós temos turmas em diversos horários e com certeza um deles combina com o seu!</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Visite nossa Aquanis Academia!</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="app/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="app/assets/bootstrap.min.js"></script>

    

</body>

</html>
