<div class="container">
<div class="jumbotron col-md-6 col-md-offset-3" style="opacity: 0.95;">
	<h1>Bem vindo a Aquanis</h1>
	<p>Se você for administrador faça o login!</p>
	<%= link_to "Login", new_client_session_path, class: "btn btn-primary"%>
	<p><p> Se não, clique aqui e descobra sobre nós!</p></p>
	<%= link_to "Sobre", home_about_path, class: "btn btn-primary" %>
</div>
</div>
